<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gaurav.mybatis.springbootmybatis.mapper.StudentMapper">

    <insert id="insertStudent" parameterType="com.gaurav.mybatis.springbootmybatis.domain.Student">
        INSERT INTO student (name, age) VALUES (#{name}, #{age})
    </insert>

    <select id="selectAllStudents" resultType="com.gaurav.mybatis.springbootmybatis.domain.Student">
        SELECT * FROM student
    </select>

    <!-- A student opts for subjects -->
    <insert id="insertStudentSubject">
        INSERT INTO stud_sub (stud_id, sub_id)
        VALUES
        <foreach collection="subjectIds" item="subjectId" index="index" separator=",">
            (#{studentId}, #{subjectId})
        </foreach>
    </insert>
    
    <!-- Retrieve subjects opted by a specific student -->
    <select id="selectStudentWithSubjects" resultMap="studentSubjectResultMap">
        SELECT
        s.id,
        s.name,
        s.age,
        sub.id AS "subjects.id",
        sub.name AS "subjects.name",
        sub.description AS "subjects.description",
        sub.teacher_id AS "subjects.teacherId"
        FROM student s
        LEFT JOIN stud_sub ss ON s.id = ss.stud_id
        LEFT JOIN subject sub ON ss.sub_id = sub.id
        WHERE s.id = #{studentId}
    </select>

    <resultMap id="studentSubjectResultMap" type="com.gaurav.mybatis.springbootmybatis.dto.StudentSubjectsDTO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="subjects" resultMap="com.gaurav.mybatis.springbootmybatis.mapper.SubjectMapper.subjectResultMap"/>
    </resultMap>
    
</mapper>
